<h2 class="mt-4">Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-row">
      <div class="form-group col-md-5">
        <%= f.input :username,
                    required: true %>
      </div>              
      <div class="form-group col-md-5">
        <%= f.input :email,
                    required: true,
                    autofocus: true %>
      </div>
      <div class="form-group col-md-5">
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
      </div>              
      <div class="form-group col-md-5">            
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="form-group col-md-5">              
        <%= f.input :address,
                    required: true %>
      </div>              
      <div class="form-group col-md-5">              
        <%= f.input :address_number,
                    required: true %>
      </div>
      <div class="form-group col-md-5">              
        <%= f.input :address_complement,
                    required: true %>
      </div>
      <div class="form-group col-md-5">
      <%= f.input :zip_code,
                    required: true %>
      </div>
      <div class="form-group col-md-5">              
        <%= f.input :city,
                    required: true %>
      </div>
      <div class="form-group col-md-5">              
        <%= f.input :country,
                    required: true, as: :string %>  
      </div>
      <div class="form-group col-md-5">              
        <%= f.input :phone,
                    required: true %>
      </div>              
      </div>
    </div>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>            


  <div class="form-actions">
    <%= f.button :submit, "Sign up", class:"btn btn-primary" %>
  </div>
<% end %>
</div>
