<div class="navbar sticky-top navbar-expand-sm navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'dragon_logo.jpg', class: "navbar-brand" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item align">
          <%= link_to "My deck", cards_path(id: current_user.id), class: "nav-link" %>
        </li>

        <div class="dropdown">
          <button class="btn btn-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cards
          </button>
          <div class="dropdown-menu cards" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button"><%= link_to 'Magic - The Gathering', cards_path(category: 'Magic') %></button>
            <button class="dropdown-item" type="button"><%= link_to 'Pokemon', cards_path(category: 'Pokemon') %></button>
            <button class="dropdown-item" type="button"><%= link_to 'Yu-gi-oh', cards_path(category: 'Yu-Gi-Oh') %></button>
            <button class="dropdown-item" type="button"><%= link_to 'All cards', cards_path %></button>
          </div>
        </div>
    </ul>
    <ul>
          <li class="nav-item dropdown mr-auto" id="nav-item">
            <%= cl_image_tag current_user.photo.key, crop: :lfill, class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Orders", orders_path(id: current_user.id), class: "dropdown-item" %>
              <%= link_to "My Deck", cards_path(id: current_user.id), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li>
          <div class="dropdown">
            <button class="btn btn-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cards
            </button>
            <div class="dropdown-menu cards" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button"><%= link_to 'Magic - The Gathering', cards_path(category: 'Magic') %></button>
              <button class="dropdown-item" type="button"><%= link_to 'Pokemon', cards_path(category: 'Pokemon') %></button>
              <button class="dropdown-item" type="button"><%= link_to 'Yu-gi-oh', cards_path(category: 'Yu-Gi-Oh') %></button>
              <button class="dropdown-item" type="button"><%= link_to 'All cards', cards_path %></button>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

