<div class="navbar sticky-top navbar-expand-sm navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag('dragon_logo', class: "navbar-brand") %>
  <% end %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item align">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <div class="dropdown">
        <button class="btn btn-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cards
        </button>
        <div class="dropdown-menu cards" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Magic - The Gathering</button>
          <button class="dropdown-item" type="button">Pokemon</button>
          <button class="dropdown-item" type="button">Yu-gi-oh</button>
        </div>
      </div>
  </div>
        <li class="nav-item dropdown">
          <%= image_tag "dragon_logo", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
            <%= link_to "Orders", "#", class: "dropdown-item" %>
            <%= link_to "My Deck", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_registration_path, class: "nav-link" %>
        </li>
        <li>
          <div class="dropdown">
          <button class="btn btn-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cards
          </button>
          <div class="dropdown-menu cards" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Magic - The Gathering</button>
            <button class="dropdown-item" type="button">Pokemon</button>
            <button class="dropdown-item" type="button">Yu-gi-oh</button>
          </div>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

