<h1>Orders Index</h1>

<br>

<% @orders.each do |order| %>
  <ul>
    <li>Buyer: <%= order.user.username %></li>
    <li>Seller: <%= order.card.user.username %></li>
    <li>Card Name: <%= order.card.name %></li>
    <li>Price: <%= order.card.price %></li>
  </ul>
<% end %>


<%= link_to "Back to cards", cards_path %>
