<h1>Orders Index</h1>

<br>

<% @orders.each do |order| %>

  <div class="order-card">
    <div class="card-left">
      <%= cl_image_tag order.card.photo.key, crop: :fill %>
    </div>
    <div class ="card-right">
      <h1>Card Name: <%= order.card.name %></h1>
      <div>
        <p>Buyer: <%= order.user.username %></p>
        <p>Seller: <%= order.card.user.username %></p>
        <p>Price: <%= order.card.price %></p>
        <br>
        <p><%= link_to "See Card's details", card_path(order.card), class: "card-button" %></p>
      </div>
    </div>
  </div>
<% end %>


<%= link_to "Back to cards", cards_path %>
