<h1>Orders Index</h1>

<br>

<% @orders.each do |order| %>

  <div class="card">
    <h5 class="card-header">Card Name: <%= order.card.name %></h5>
    <div class="card-body">
      <p class="card-text">Buyer: <%= order.user.username %></p>
      <p class="card-text">Seller: <%= order.card.user.username %></p>
      <p class="card-text">Price: <%= order.card.price %></p>
      <p> <%= link_to "See Card's details", card_path(order.card), class: "btn btn-primary" %></p>
    </div>
  </div>
  <br>
<% end %>


<%= link_to "Back to cards", cards_path %>
