<h1 class="mt-4">Edit Card</h1>

<%= simple_form_for(@card) do |f| %>
<%= f.input :category %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :price %>
<%= f.input :photo, as: :file %>
<%= f.submit 'Submit', class: 'btn-primary' %>
<% end %>

<%= link_to "Back to card", card_path(@card), class: "btn btn-primary" %>
