<h1>Index</h1>

<br>

<% @cards.each do |card| %>
  <% unless card.sold %>
    <ul>
      <li>
        <%= link_to card.name, card_path(card) %> <%= link_to card_path(card), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </li>
      <li><%= card.description %></li>
      <li><%= card.price %></li>
      <li><%= card.user.username %></li>
    </ul>
  <% end %>
<% end %>


<%= link_to "Create a new card.", new_card_path %>
