<h1>New Card</h1>

<%= simple_form_for(@card) do |f| %>
<%= f.input :category %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :price %>
<%= f.submit 'Submit', class: 'btn-primary' %>
<% end %>

<%= link_to "Back to cards", cards_path %>
