<h1 class="mt-4">New Card</h1>

<%= simple_form_for(@card) do |f| %>
<%= f.input :category, collection: ['Magic', 'Pokemon', 'Yu-Gi-Oh'], input_html: { class: "beautiful-dropdown" } %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :price_cents %>
<%= f.input :photo, as: :file %>
<%= f.submit 'Submit', class: 'btn-primary' %>
<% end %>
<br>
<%= link_to "Back to cards", cards_path, class: "btn btn-ghost" %>
