
<%# <h1 class="mt-4">Show</h1> %>

<br>

<div class="cards-show">
  <div class="cards-photo-2">
    <%= cl_image_tag @card.photo.key, height: 200, width: 200, crop: :fill %>
  </div>
  <div class="cards-info">
    <div class="cards-text">  
      <h2><%= @card.category %></h2>
      <h4><%= @card.name %></h4>
      <p><%= @card.description %></p>
      <p><%= @card.price %></p>
      <p><%= @card.user.username %></p>
    </div>
    
    <div class="cards-btn">
      <% if current_user == @card.user %>
        <p><%= link_to "Edit card", edit_card_path %></p>
        <p><%= link_to "DELETE CARD", card_path(@card), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <p><%= link_to "Back to cards", cards_path %></p>
      <% elsif current_user == nil %>
        <p><%= link_to "Back to cards", cards_path %></p>
      <% else %>
        <%= simple_form_for [@card, @order] do |f| %>
          <div class="cards-btn-1">
            <p><%= f.submit 'Buy!' %></p>
          </div>  
          <div class="cards-btn-2">  
            <p><%= link_to "Back to cards", cards_path %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
