
<h1>Cards Details</h1>

<br>

  <div class="order-card d-flex justify-content-center">
    <div class="cards-left">
      <%= cl_image_tag @card.photo.key, crop: :fill %>
    </div>
    <div class ="cards-right d-flex justify-content-between flex-column pb-3">
      <h1><%= @card.name %></h1><br>
      <div>
        <p>Category: <%= @card.category %></p><br>
        <p>Description: <%= @card.description %></p><br>
        <p>Price: <%= humanized_money_with_symbol(@card.price_cents) %></p>
      </div>
      <div class="align-self-end mr-3">
        <% if current_user == @card.user %>
          <div>
            <%= link_to "Edit card", edit_card_path, class: "cards-button" %>
            <%= link_to "Delete card", card_path(@card), method: :delete, data: { confirm: 'Are you sure?' }, class: "cards-button" %>
            <%= link_to "Back to cards", cards_path, class: "cards-button" %>
          </div>
        <% elsif current_user == nil %>
          <p><%= link_to "Back to cards", cards_path, class: "cards-button" %></p>
        <% else %>
        <%= simple_form_for [@card, @order] do |f| %>
            <%= hidden_field_tag 'card_id', @card.id %>
            <div>
              <%= submit_tag 'Purchase', class: "cards-button cards-button-position-one" %>
              <%= link_to "Back to cards", cards_path, class: "cards-button cards-button-position-two" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>